@charset "utf-8";
        body {
            background-color: rgb(245, 255, 159);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: darkgoldenrod;
            background-color: white;
        }
        h2 {
            color: brown;
        }
        p{
            text-align: justify;
        }
